<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1 class="text-center my-5">Список клиентов</h1>
    <table class="table table-light table-hover">
        <thead>
        <tr class="table-dark">
            <th scope="col">ФИО</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">e-mail</th>
            <th scope="col">Паспортные данные</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${clientList}">
            <th scope="row" th:text="${client.fullName}"></th>
            <td th:text="${client.phone}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.passport}"></td>
            <td>
                <a th:href="@{/delete-client/{id}(id=${client.getId()})}" class="btn btn-danger btn-sm">Удалить</a>
                <a th:href="@{/edit-client/{id}(id=${client.getId()})}" class="btn btn-primary btn-sm">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>