<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1 class="text-center my-5">Редактировать клиента</h1>
    <form th:action="@{/edit-client/{id}(id=${client.getId()})}" th:object="${client}" method="post">
        <div class="mb-3">
            <label for="fullName">ФИО</label>
            <input type="text" class="form-control" th:field="*{fullName}" placeholder="Имя Фамилия Отчество" id="fullName">
        </div>
        <div class="mb-3">
            <label>Номер телефона</label>
            <input type="text" class="form-control" th:field="*{phone}" placeholder="Номер телефона" id="phone">
        </div>
        <div class="mb-3">
            <label>e-mail</label>
            <input type="text" class="form-control" th:field="*{email}" placeholder="Электронная почта" id="status">
        </div>
        <div class="mb-3">
            <label>Паспортные данные</label>
            <input type="text" class="form-control" th:field="*{passport}" placeholder="Паспортные данные" id="passport">
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control btn btn-primary" value="Сохранить изменения">
        </div>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>